
html {
    -webkit-overflow-scrolling: touch;
    font-family: "Raleway", sans-serif;
    line-height: 115%;
}
body{
}
.cardsrow {
    overflow: auto;
    height: 100vh;
    position: relative;
}
.scrollitem {

    background-image: url("");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.scrollitem:nth-child(even) {
    background-color: lightpink;
}

navbar{
    background-color: white;
    margin:0 15%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
.navbar .active {
    border-bottom: 3px gray solid;
    transition: 0.5s ease;
}
li{
    list-style: none;
}